<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="531b7eae-9781-4f10-a5e9-cec81a1475ea" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="531b7eae-9781-4f10-a5e9-cec81a1475eafileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="9f81122d-911b-40df-a082-9afabb8f294c"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="6dc92cf6-ed2e-4146-b092-529699c1a115"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>